body {
  font-family: 'Quicksand', sans-serif;
  color: white;
}
#load {
  display: none;
}
.login,
.div-container,
.div-container-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.coqueiro {
  width: 90%;
  height: 125%;
}
.app-name {
  font-size: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  border: gray solid 1px;
  width: 80%;
  height: 100%;
  padding: 10px;
  background-color: rgba(30, 109, 140, 0.527);
}
.btn-social {
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 30%;
  height: 30%;
  padding: 3px;
  border: gray solid 1px;
  width: 80%;
  height: 100%;
  padding: 10px;
  background-color: rgba(30, 109, 140, 0.527);
}
.out {
  padding-left: 90%;
}
.signout {
  width: 35px;
}
.text-post {
  width: 100%;
  height: 80%;
  color: white;
  padding: 10px;
  background-color: rgba(191, 87, 26, 1);
}
.div-post {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  margin-top: 20px;
}
.div-post {
  height: 150px;
  background-color: rgba(191, 87, 26, 1);
  border-radius: 5px;
}
.post {
  border-radius: 5px;
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  background-color: wheat;
}
.btn-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 50%;
}
.div-btn {
  display: flex;
  width: 50%;
}
.icon-post {
  width: 30%;
  height: 30px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid gray;
  font-size: 16px;
}
.comentar,
.curtida {
  width: 30%;
}
.privaty {
  text-align: center;
}
.select-private {
  border-radius: 5px;
  width: 10%;
  height: 30px;
  font-size: 16px;
}
.container-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  color: white;
}
.input-private {
  height: 35px;
  padding: 2px;
  text-align: end;
}
.input-post {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 10px;
}
.div-delete {
  padding: 3px;
}
.div-name,
.label-private {
  padding-left: 2px;
}
.input-private {
  width: 25%;
  margin-right: 5px;
  text-align-last: center;
  font-size: 16px;
  border-radius: 5px;
}
.wave {
  width: 40%;
  margin-top: 30px;
}
.delete,
.edit,
.save {
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 16px;
}
.save,
.select-private {
  display: none;
}
.date {
  align-self: center;
  margin: 5px;
}
.container-private {
  justify-content: flex-end;
}
.div-container-btn,
.container-private {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}
.btn-create {
  border-radius: 10px;
  border: gray solid 1px;
  font-size: 12px;
}
.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.root,
.div-container,
.div-container-register,
.form-register {
  width: 100%;
  height: 100%;
  background-color: rgba(14, 60, 89, 1);
}
.div-home {
  background-color: rgba(14, 60, 89, 1);
}
.form {
  height: 70%;
  align-items: center;
  justify-content: space-evenly;
}
.img-login {
  height: 30%;
  justify-content: center;
}
.text-p {
  color: white;
}
.div-form {
  width: 100%;
  background-color: rgba(14, 60, 89, 1);
}
.all-posts {
  margin: 5px;
}
.error-message {
  color: rgb(230, 109, 109);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.register a {
  text-decoration: underline;
  color: rgba(242, 110, 33, 1);
}
.logo {
  font-weight: bold;
  font-size: 30px;
}
.input-login {
  border: gray solid 1px;
  border-radius: 20px;
  width: 100%;
  height: 35px;
  padding: 10px;
  font-size: 14px;
}
.input-register:hover {
  cursor: pointer;
}
.button-login:hover,
.btn-record:hover {
  background-color: rgba(242, 110, 33, 1);
  color: white;
}
.button-login,
.btn-record {
  border-radius: 20px;
  width: 70%;
  height: 35px;
  border: gray solid 1px;
  font-size: 16px;
  font-weight: bold;
}
.btn-record {
  margin-top: 30px;
}
.registro-title {
  margin-bottom: 50px;
  color: white;
}
.btn-google {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.register-space {
  font-size: 16px;
  width: 75%;
  height: 35px;
  border-bottom: white solid 1px;
  color: white;
  padding: 10px;
  margin: 10px;
  background-color: rgba(14, 60, 89, 1);
}
.register-space::placeholder {
  color: white;
}
.btn-back {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: rgba(242, 110, 33, 1);
}
.menu {
  background-color: rgba(242, 110, 33, 1);
  width: 100%;
  height: 50px;
}
.check {
  display: none;
}
.nav {
  background-color: wheat;
  width: 300px;
  height: 100%;
  left: -300px;
  margin-top: 50px;
  z-index: 2;
  position: absolute;
  transition: all 0.5s;
}
.check:checked ~ .nav {
  transform: translateX(300px);
  cursor: pointer;
}
.app-name-home {
  font-size: 20px;
  height: 100%;
  text-align: center;
  padding-top: 10px;
}
.link {
  display: block;
  padding: 20px 5px;
  color: rgba(14, 60, 89, 1);
  border-bottom: white;
  font-size: 20px;
  font-weight: bold;
}
.div-photo{
  border-bottom: 1px solid white;
  text-align: center;
}
.li-link {
  cursor: pointer;
  border-bottom: 1px solid white;
}
.link:hover {
  background-color: rgba(242, 110, 33, 1);
}
.label-icone {
  background-color: rgba(242, 110, 33, 1);
  padding: 10px;
  position: absolute;
  z-index: 1;
  height: 48px;
  cursor: pointer;
}
.ul {
  background-color: wheat;
  top: 50px;
  position: absolute;
  width: 100%;
}
.div-perfil {
  display: none;
}
.li-link-name{
  display: none;
  cursor: pointer;
}
.input-post-photo{
background-color: wheat;
margin-left: 5px;
margin-right: 5px;
border-radius: 5px;
margin-top: 10px;
}
@media screen and (min-width: 1000px) {
  .div-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .img-login {
    width: 30%;
    /*justify-items: center;*/
  }
  .coqueiro {
    width: 110%;
    height: 200%;
  }
  .input-private {
    width: 20%;
    margin-right: 10px;
  }
  .out {
    padding-left: 95%;
    background-color: rgb(109, 218, 95);
  }
  .signout {
    width: 45px;
  }
  .register-space {
    width: 30%;
  }
  .btn-record {
    width: 20%;
    height: 40px;
  }
  .form {
    width: 50%;
  }
  .input-login {
    width: 40%;
  }
  .button-login {
    width: 20%;
    font-family: 'Quicksand', sans-serif;
  }
  .container {
    display: flex;
    justify-content: center;
    border: gray solid 1px;
    width: 80%;
    height: 100%;
    padding: 10px;
    background-color: rgba(30, 109, 140, 0.527);
  }
  .btn-social {
    border-radius: 10px;
    width: 74px;
    height: 30px;
    padding: 3px;
    border: gray solid 1px;
    font-size: 12px;
  }
  .all-posts {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
  }
  .write-post {
    width: 60%;
  }
  .post {
    width: 60%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
  }
  .send-post{
    width: 20%;
  }
  .photo {
    width: 100%;
  }
  .btn-create {
    border-radius: 10px;
    border: gray solid 1px;
    font-size: 12px;
  }
  .register-space {
    width: 30%;
  }
  .btn-record {
    width: 20%;
    height: 40px;
  }
  .form {
    width: 50%;
  }
  .input-login {
    width: 40%;
  }
  .button-login {
    width: 20%;
    font-family: 'Quicksand', sans-serif;
  }
  .container {
    display: flex;
    justify-content: center;
    border: gray solid 1px;
    width: 80%;
    height: 100%;
    padding: 10px;
    background-color: rgba(30, 109, 140, 0.527);
  }
  .btn-social {
    border-radius: 10px;
    width: 74px;
    height: 30px;
    padding: 3px;
    border: gray solid 1px;
    font-size: 12px;
  }
  .all-posts {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
  }
  .input-post {
    flex-direction: row;
    width: 20%;
    justify-content: center;
  }
  .post {
    width: 95%;
    margin-left: 10px;
  }
  .wave {
    display: none;
  }
  .send-post,
  .photo {
    width: 20%;
  }
  .btn-create {
    border-radius: 10px;
    border: gray solid 1px;
    font-size: 12px;
  }
  .form-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }
  .div-form {
    width: 40%;
  }
  .logo-home {
    width: 20%;
  }
  .div-logo-home {
    height: 50%;
    width: 100%;
  }
  .div-wave-desk {
    height: 60%;
    width: 100%;
  }
  .div-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    border: 1px solid white;
    margin-top: 10px;
    border-radius: 5px;
  }
  .select-private{
    width: 20%;
  }
  .app-name-home{
    display: none;
  }
  .nav{
    left: 0px;
    display: flex;
    flex-direction: row;
    z-index: 0;
    position: relative;
    margin: 0;
    height: 50px;
    width: 100%;
  }
  .label-icone{
    display: none;
  }
  .ul{
    display: flex;
    position: static;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(242, 110, 33, 1);
  }
  .li-link-name{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
  }
  .li-link{
    border: none;
  }
  .link{
    padding: 0;
    margin-left: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  
}

/* Paleta de cores */
.TripCard---Trade-Turismo-1-rgba {
  color: rgb(2, 62, 140);
}
.TripCard---Trade-Turismo-2-rgba {
  color: rgba(14, 60, 89, 1);
}
.TripCard---Trade-Turismo-3-rgba {
  color: rgba(30, 109, 140, 1);
}
.TripCard---Trade-Turismo-4-rgba {
  color: rgba(242, 110, 33, 1);
}
.TripCard---Trade-Turismo-5-rgba {
  color: rgba(191, 87, 26, 1);
}
