body {
  font-family: 'Quicksand', sans-serif;
}
#load {
  display: none;
}
.login,
.div-container,
.div-container-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container {
  display: flex;
  flex-direction: column;
  border: gray solid 1px;
  width: 80%;
  height: 100%;
  padding: 10px;
  background-color: rgba(30, 109, 140, 0.527);
}
.text-post {
  width: 100%;
  height: 80%;
  color: white;
  padding: 10px;
  background-color: rgba(191, 87, 26, 1);
}
.write-post,
.div-post {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  margin-top: 20px;
}
.div-post {
  height: 150px;
  background-color: rgba(191, 87, 26, 1);
}
.post {
  border-radius: 5px;
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  align-self: center;
  background-color: wheat;
}
.btn-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 50%;
  font-size: 16px;
}
.div-btn {
  display: flex;
  width: 50%;
}
.icon-post {
  width: 30%;
  height: 30px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid gray;
  font-size: 16px;
}
.comentar,
.curtida {
  width: 30%;
}
.privaty{
  text-align: center;
}
.select-private {
  border-radius: 5px;
  width: 10%;
  height: 30px;
  font-size: 16px;
}
.container-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  color: white;
}
.div-delete,
.input-private {
  height: 30px;
  padding: 2px;
  width: 15%;
  text-align: end;
}
.div-name,
.label-private {
  padding-left: 2px;
}
.input-private {
  width: 25%;
  margin-right: 5px;
  text-align-last: center;
  font-size: 16px;
  border-radius: 5px;
}
.delete,
.edit,
.save {
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 16px;
}
.save,
.select-private {
  display: none;
}
.date {
  align-self: center;
  margin: 5px;
}
.div-container-btn,
.container-private {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-create {
  border-radius: 10px;
  border: gray solid 1px;
  font-size: 12px;
}
.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.root,
.div-container,
.div-container-register,
.form-register {
  width: 100%;
  height: 100%;
  background-color: rgba(14, 60, 89, 1);
}
.div-home {
  background-color: rgba(14, 60, 89, 1);
}
.form {
  height: 70%;
  align-items: center;
  justify-content: space-evenly;
}
.img-login {
  height: 30%;
  justify-content: center;
}

.text-p {
  color: white;
}

.error-message {
  color: rgb(230, 109, 109);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.register a {
  text-decoration: underline;
  color: rgba(242, 110, 33, 1);
  font-weight: bold;
}
.logo {
  font-weight: bold;
  font-size: 30px;
}
.input-login {
  border: gray solid 1px;
  border-radius: 20px;
  height: 35px;
  padding: 10px;
  font-size: 16px;
}
.input-register:hover {
  cursor: pointer;
}
.button-login:hover,
.btn-record:hover {
  background-color: rgba(242, 110, 33, 1);
  color: white;
  font-weight: bold;
  width: 40%;
}
.button-login,
.btn-record {
  border-radius: 20px;
  width: 70%;
  height: 35px;
  border: gray solid 1px;
  font-size: 16px;
}
.btn-record {
  margin-top: 30px;
}
.registro-title {
  margin-bottom: 50px;
  color: white;
}
.btn-google {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: black solid 1px;
}
.register-space {
  font-size: 16px;
  width: 75%;
  height: 35px;
  border-bottom: white solid 1px;
  color: white;
  padding: 10px;
  margin: 10px;
  background-color: rgba(14, 60, 89, 1);
}
.register-space::placeholder {
  color: white;
}
.btn-back {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: rgba(242, 110, 33, 1);
}

@media screen and (min-width: 1000px) {
  .div-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .img-login {
    width: 30%;
  }
  .register-space {
    width: 30%;
  }
  .btn-record {
    width: 20%;
    height: 40px;
  }
  .form {
    width: 50%;
  }
  .input-login {
    width: 50%;
  }
  .button-login {
    width: 30%;
  }
  .container {
    display: flex;
    justify-content: center;
    border: gray solid 1px;
    width: 80%;
    height: 100%;
    padding: 10px;
    background-color: rgba(30, 109, 140, 0.527);
  }
  .all-posts {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
  }
  .write-post {
    width: 60%;
  }
  .post {
    height: 100px;
    padding: 10px;
    font-size: 16px;
  }
  .input-private {
    width: 15%;
  }
  .btn-create {
    border-radius: 10px;
    border: gray solid 1px;
    font-size: 12px;
  }
}

/* Paleta de cores */
.TripCard---Trade-Turismo-1-rgba {
  color: rgb(2, 62, 140);
}
.TripCard---Trade-Turismo-2-rgba {
  color: rgba(14, 60, 89, 1);
}
.TripCard---Trade-Turismo-3-rgba {
  color: rgba(30, 109, 140, 1);
}
.TripCard---Trade-Turismo-4-rgba {
  color: rgba(242, 110, 33, 1);
}
.TripCard---Trade-Turismo-5-rgba {
  color: rgba(191, 87, 26, 1);
}
