#load {
  display: none;
}
.login,
.div-container,
.div-container-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.root,
.div-container,
.div-container-register,
.form-register {
  width: 100%;
  height: 100%;
  background-color: rgba(14, 60, 89, 1);
}
.form {
  height: 70%;
  align-items: center;
  justify-content: space-evenly;
}
.img-login {
  height: 30%;
  justify-content: center;
}
.text-p {
  color: white;
}
.register a {
  text-decoration: underline;
  color: rgba(242, 110, 33, 1);
  font-weight: bold;
}
.logo {
  font-weight: bold;
  font-size: 30px;
}
.input-login {
  border: gray solid 1px;
  border-radius: 20px;
  width: 100%;
  height: 35px;
  padding: 10px;
  font-size: 16px;
}
.input-register:hover {
  cursor: pointer;
}
.button-login:hover,
.btn-record:hover {
  background-color: rgba(242, 110, 33, 1);
  color: white;
  font-weight: bold;
}
.button-login,
.btn-record {
  border-radius: 20px;
  width: 70%;
  height: 35px;
  border: gray solid 1px;
  font-size: 16px;
}
.btn-record {
  margin-top: 30px;
}
.registro-title {
  margin-bottom: 50px;
  color: white;
}
.btn-google {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: black solid 1px;
}
.register-space {
  font-size: 16px;
  width: 75%;
  height: 35px;
  border-bottom: white solid 1px;
  color: white;
  padding: 10px;
  margin: 10px;
  background-color: rgba(14, 60, 89, 1);
}
.register-space::placeholder {
  color: white;
}
.btn-back {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: rgba(242, 110, 33, 1);
}
@media screen and (min-width: 1000px) {
  .div-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .img-login {
    width: 30%;
  }
  .register-space {
    width: 30%;
  }
  .btn-record {
    width: 20%;
    height: 40px;
  }
  .form {
    width: 50%;
  }
  .input-login {
    width: 50%;
  }
  .button-login {
    width: 30%;
  }
}

/* Paleta de cores */
.TripCard---Trade-Turismo-1-rgba {
  color: rgba(2, 62, 140, 1);
}
.TripCard---Trade-Turismo-2-rgba {
  color: rgba(14, 60, 89, 1);
}
.TripCard---Trade-Turismo-3-rgba {
  color: rgba(30, 109, 140, 1);
}
.TripCard---Trade-Turismo-4-rgba {
  color: rgba(242, 110, 33, 1);
}
.TripCard---Trade-Turismo-5-rgba {
  color: rgba(191, 87, 26, 1);
}
